{
"blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
	  "flags" : [ "shipLockerPosition" ],
      "object" : "ussrshiplocker",
      "objectParameters" : {
        "treasurePools" : [ "humanStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "humanshiplockerTier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "techstation",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 50, 50, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "brokenhumanfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "ussrfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [200, 200, 10, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplight"
    },
	
    {
      "value" : [191, 191, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplightBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "apexshipdoor"
    },

    {
      "value" : [174, 137, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "shipengine",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [156, 0, 255, 255],
	  "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "teleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

   {
      "value" : [50, 0, 128, 255],
     "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "teleporterTier0",
     "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [167, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflame2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [168, 168, 168, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "humancaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [122, 122, 122, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblelight",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
    {
      "value" : [170, 12, 146, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invlight6",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
    {
      "value" : [70, 112, 46, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invlight3",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [70, 128, 36, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invlight2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
    {
      "value" : [90, 22, 36, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invlight1",
      "objectParameters" : {
        "unbreakable" : true
      }
    },	
	
    {
      "value" : [255, 255, 44, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "rustymetal"
    },
	
    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "rustyblock"
    },
	
    {
      "value" : [255, 255, 250, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "junktech"
    },
	
    {
      "value" : [255, 255, 144, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall"
    },
	
	{
      "value" : [255, 115, 11],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall"
    },

    {
      "value" : [255, 117, 144, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails"
    },

    {
      "value" : [255, 117, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipsupport"
    }
  ]
}
